<header>
  <div class="headerwrapper">
    <div class="header-left">
      <h1 class="title">Livro Aqui</h1>
    </div>
    <div class="header-right">
      <ul class="nav in" id="menu">
        <li>
          <a [routerLink]="['/AlertaList']">
            <i class="fa fa-bell"></i>
            <span class="hide-menu">Atrasos</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/ReservaList']">
            <i class="fa fa-calendar"></i>
            <span class="hide-menu">Reserva</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/EmprestimoList']">
            <i class="fa fa-exchange"></i>
            <span class="hide-menu">Empréstimos</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/LivroList']">
            <i class="fa fa-book"></i>
            <span class="hide-menu">Livros</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/InstituicaoEnsinoList']">
            <i class="fa fa-graduation-cap"></i>
            <span class="hide-menu"> Instituição</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/UsuarioList']">
            <i class="fa fa-user"></i>
            <span class="hide-menu">Usuários</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
