.addButton {
  float: right;
  padding: 15px 15px;
}

.column {
  float: left;
  width: 33%;
  padding: 0 10px;
  margin-bottom: 20px;
}

.row {
  margin: 0 -5px;
  padding: 0px 25px 0px 25px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
}

.bold {
  font-weight: 700;
}


@media screen and (max-width: 800px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 525px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
