body {
  background: 0 0;
  font-family: Poppins, sans-serif;
  margin: 0;
  overflow-x: hidden;
  color: #686868;
  font-weight: 300;
}

button {
  margin-left: 5px;
}

.ButtonSpace {
  width: 230px;
}

.btn-primary {
  background-color: #1f6b9e;
}

.align-right {
  text-align: right;
}


label {
  margin-top: 10px;
}
